<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  body {
    font-family: "Lato", sans-serif;
  }
  table {
  border-collapse: collapse;
  width: 50%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}

.header img {
  float: left;
  /* width: 100px; */
  height: 50px;
  /* background: #555; */
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

</style>
</head>

{% block content %}

<div class="header">
  <img src="fesom2_logo.png" alt="logo" />
  <h1>diagnostics</h1>
</div>

<p></p>

<table>
  <thead>
    <tr>

      <th><h3>workflows</h3></th>
      <th><h3>Link</h3></th>

    </tr>
  </thead>
  <tbody>
    {% for experiment_name, experiment in experiments.items() %}
    <tr>
      <th>{{ experiment_name }}</th>

      <td><a href="./{{ experiment.experiment_path }}/{{ experiment_name }}.html">Link</a></td>
      
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}


</body>
</html>
